* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black; /* Set the background color to black */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;
}

header .logo {
    width: 50px;
    height: 60px;
    margin-right: 100px;
}

header h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    
}

header p{
    margin-left: 60px;
    font-size: 24px;
    text-decoration: none;
    color: #ff0909;
    cursor: pointer;
    text-decoration: underline;
}

main {
    width: 700px;
    height: 800px;
    background-image: url(img/death/deno.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: center;
}

.form-container {
    padding-top: 80px;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 26px;
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 22px;
    color: white;
    background-color: #eb0808de;
    align-items: center;
    border-radius: 15px;
    opacity: 1;
    cursor: pointer;
}
#rules {
    font-size: 18px;
    color: #cedb0e;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}
 .input-form label{
    padding-right: 205px;
 }
 .condi-form label{
    padding-right: 42px;
 }
 .button-start{
    padding-top: 80px;
 }
 .rules-div {
    padding-top: 30px;
 }

